* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, magenta, red, tomato);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora {
    width: 300px; /* Ajusta el ancho de la calculadora */
    margin: 0 auto; /* Centra la calculadora en la página */
}

.botones {
    display: flex; /* Muestra los botones en fila */
    flex-wrap: wrap; /* Permite que los botones se ajusten en varias filas */
}

.operador, .numero {
    width: 50px; /* Ajusta el ancho de los botones */
    height: 50px; /* Ajusta la altura de los botones */
    margin: 5px; /* Agrega espacio entre los botones */
    font-size: 20px; /* Ajusta el tamaño de la fuente */
    border: 1px solid #ccc; /* Agrega un borde a los botones */
    cursor: pointer; /* Indica que los botones son interactivos */
}

.operador {
    background-color: #f0f0f0; /* Color de fondo para los botones de operador */
}

.numero {
    background-color: #fff; /* Color de fondo para los botones numéricos */
}  }